.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
  border-radius: 0;
}

.flat-slider.ui-slider {
  border: 0;
  background: #706d6c;
  border-radius: 7px;
  position:relative;    
  margin-left: 20px;    
  margin-right: 20px;
}

.flat-slider.ui-slider-horizontal {
  height: 6px;
}

.flat-slider.ui-slider-vertical {
  height: 15em;
  width: 6px;
}

.flat-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  background: #38b11f;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position:absolute
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-top: -10px;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
  left: 50%;
  margin-left: -10px;
}

.flat-slider .ui-slider-handle:hover {
  opacity: .8;
}

.flat-slider .ui-slider-range {
  border: 0;
  border-radius: 7;
  background: #f99;
}

.flat-slider.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 6px;
}

.flat-slider.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 6px;
}